<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistrarAlumno</servlet-name>
        <servlet-class>Controlador.RegistrarAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroProfesor</servlet-name>
        <servlet-class>Controlador.RegistrarProfesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarProfesor</servlet-name>
        <servlet-class>Controlador.RegistrarProfesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>Controlador.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>Controlador.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MuestraCursos</servlet-name>
        <servlet-class>Controlador.MuestraCursos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificaContrasenia</servlet-name>
        <servlet-class>Controlador.VerificaContrasenia</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrarAlumno</servlet-name>
        <url-pattern>/RegistrarAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroProfesor</servlet-name>
        <url-pattern>/RegistroProfesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarProfesor</servlet-name>
        <url-pattern>/RegistrarProfesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/IniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MuestraCursos</servlet-name>
        <url-pattern>/MuestraCursos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificaContrasenia</servlet-name>
        <url-pattern>/VerificaContrasenia</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
